*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#box{
    height: 300px;
    width: 100%;
    background-color: gray;
    display: flex;
    gap: 30px;
    padding: 20px;
    flex-wrap: nowrap;
    overflow: auto;
   
}

#box::-webkit-scrollbar{
    background-color: white;
}

#box::-webkit-scrollbar-thumb{
 background: linear-gradient( to right, black,red);
}


#card{
    height: 100%;
    width: 200px;
     border-radius: 15px;
     flex-shrink: 0;

 

}

#card img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}