
@font-face {
    font-family: 'neue';
    src: url(/Sheriyans/NeueMachina-Regular.woff2);
}

@font-face {
    font-family: 'center-txt';
    src: url(/Sheriyans/Manrope-VariableFont_wght.woff2);
}

:root{
    --white:#e0e0e0;
    --black:#0c0c0c;
    --gray:#212121;
    --green:#009660;
    --lgray:#929292;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neue';
    color: var(--white);
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
}


nav{
display: flex;
padding: 30px 60px;
align-items: center;
justify-content: space-between;

}

#nav1{
    display: flex;
    align-items: center;
    gap: 10px;
   
    


}

#nav1 h3{
    font-size: 17px;
    font-weight: 100;
    line-height: 1.4;
}

#nav1>img{
    height: 55px;
}





#nav2{
    display: flex;
    align-items: center;
    gap: 300px;
    padding: 0 30px;

}

.list{
    display: flex;
    gap: 70px;
}

.list>h4{
    font-size: 18px;
    font-weight: 100;

}

#profile>h3:nth-child(1){
    display: none;
}

#profile> h3>i{
    font-size: 20px;
}

#profile{
    display: flex;
    align-items: center;
    gap: 30px;
    
    
}
#profile>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


@media (max-width: 600px) {
    nav{
        padding: 15px 20px ;
      
       
    }
   .list{
    display: none;
   }

   #nav2{
    padding: 0 20px;
   }


   #profile>h3:nth-child(1){
    display: block;
}

    
}